<!DOCTYPE html>
<html>
<body>
    {% load static %}
    
   
    <link rel="stylesheet" a href="{% static 'css/admin_login.css' %}">
    

    <div class="container">
        <h2>User Login</h2>
        {% block content  %}
      

        {% if messages  %}
        {% comment %} {% if user.is_authenticated %} {% endcomment %}
        {% for message in messages %}
        {{message}}

        {% endfor %}    
        {% endif %}
        {% endblock content %}
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" id="username" placeholder="username" required>
        <br><br>
        <input type="password" name="password" id="password"  placeholder="password" required>
        <br><br>
        <input type="submit" value="save">
    </div>
    </form>
    
</body>
</html>