<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinks</title>

    {% load static %}

    <link rel="stylesheet" a href="{% static 'css/drinks.css' %}">
    

</head>
<script>
    function passvalues(){
        var pass = document.getElementById("button").value;
        localStorage.setItem("item",pass);
        return false;
    }
</script>
<body>
    <div class="side_panel">
        <ul>
            <li><a class="sign" href="{% url 'itemdrinks' %}">Drinks</a></li>
            <li><a class="sign" href="{% url 'item' %}">Breakfast</a></li>
            <li><a class="sign" href="{% url 'itemlunch' %}">Lunch</a></li>
            <li><a class="sign" href="{% url 'itemdinner' %}">Dinner</a></li>
            <li><a class="sign" href="{% url 'itemcompose' %}">Composes</a></li>
            <li><a class="sign" href="{% url 'home' %}">Home</a></li>
            <li><a class="sign" href="{% url 'check' %}">Check out</a></li>
            {% if user.is_authenticated %}
            <li><a class="sign" href="{% url 'logout' %}">Log Out</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="right">

        <!-- drinks -->
        <div class="drinks"  id="drk">
            <div class="heading">
                <h1>DRINKS</h1>
                <h3>&mdash;Menu info&mdash;</h3>
            </div>
            


            <div class="menu">
                <div class="menu-item">
                {% block content %}




                <form action="{% url 'check'%}">
                    {% for x in itemdrinks %}
                    <div>
                        <button class="btn" id="button" onclick="passvalues()">Add to cart</button> 
                        <img src="{{x.images.url}}" alt="">
                    </div>
                </form>                    
            

            <h3 class="item-name">  {{x.name}}  <br></h3>
            <p class="item-components">{{x.components}} <br></p>
           <p class="item-price"> {{x.price}} <br></p>
           
            {% endfor %}

            
            
            {% endblock content %}



        </div>

        </div>
            
            {% comment %} <div class="drink-item" style="position: relative; top: 18px;"> 
                <img src="Images/drinks.jpg" >
            </div>
            <div class="details-d">
                <div class="details-sub-d">
                    <h5>Soda</h5>
                    <h5 class="price"> 10 LE </h5>
                </div>
                <p> Soda with ice in a cup</p>
                <button class="del">Delete </button>
                <button class="edi" > Edit </button>
                <button class="add">Add</button>
            </div>
            <div class="drink-item" style="position: relative; top: 18px;"> 
                <img src="Images/mango.jfif">
            </div>
            <div class="details-d">
                <div class="details-sub-d">
                    <h5>Mango Juice</h5>
                    <h5 class="price"> 20 LE </h5>
                </div>
                <p> Fresh mango juice </p>
                <button class="del">Delete </button>
                <button class="edi" > Edit </button>
                <button class="add">Add</button>
            </div>
            <div class="drink-item" style="position: relative; top: 18px;"> 
                <img src="Images/orange.jfif">
            </div>
            <div class="details-d">
                <div class="details-sub-d">
                    <h5>orange Juice</h5>
                    <h5 class="price"> 20 LE </h5>
                </div>
                <p> Fresh orange juice </p>
                <button class="del">Delete </button>
                <button class="edi" > Edit </button>
                <button class="add">Add</button>
            </div>
            <div class="drink-item" style="position: relative; top: 18px;"> 
                <img src="Images/chocolate milkshake.jfif">
            </div>
            <div class="details-d">
                <div class="details-sub-d">
                    <h5>Chocolate Milkshake</h5>
                    <h5 class="price"> 25 LE </h5>
                </div>
                <p>chocolate milkshake with oreo and icecream at the top</p>
                <button class="del">Delete </button>
                <button class="edi" > Edit </button>
                <button class="add">Add</button>
            </div>
        </div>
    </div> {% endcomment %}
    <script src="{% static 'js/script.js'%}"> </script>

</body>
</html>