<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lunch</title>
    {% load static %}
   
    <link rel="stylesheet" a href="{% static 'css/lunch.css' %}">

</head>
<body>
    <div class="side_panel">
        <ul>
            <li><a class="sign" href="{% url 'itemdrinks' %}">Drinks</a></li>
            <li><a class="sign" href="{% url 'item' %}">Breakfast</a></li>
            <li><a class="sign" href="{% url 'itemlunch' %}">Lunch</a></li>
            <li><a class="sign" href="{% url 'itemdinner' %}">Dinner</a></li>
            <li><a class="sign" href="{% url 'itemcompose' %}">Composes</a></li>
            <li><a class="sign" href="{% url 'home' %}">Home</a></li>
            <li><a class="sign" href="{% url 'check' %}">Check out</a></li>
            {% if user.is_authenticated %}
            <li><a class="sign" href="{% url 'logout' %}">Log Out</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="right">
        <!-- lunch -->
        <div class="Lunch"  id="lun">
            <div class="heading">
                <h1>LUNCH</h1>
                <h3>&mdash;Menu info&mdash;</h3>
                
            </div>
           

            <div class="menu">
                <div class="menu-item">
                {% block content %}





            {% for x in itemlunch %}
            <div>
                <button class="btn">Add to cart</button> 
                <img src="{{x.images.url}}" alt="">
            </div>
    

            <h3 class="item-name">  {{x.name}}  <br></h3>
            <p class="item-components">{{x.components}} <br></p>
           <p class="item-price"> {{x.price}} <br></p>
           
            {% endfor %}

            
            
            {% endblock content %}



        </div>

        </div>


            {% comment %} {% block content %}





            {% for z in itemlunch %}
            
            <h1>
                {{z.name}}  <br>
                {{z.price}} <br>
                {{z.components}} <br>
                <img src="{{z.images.url}}" alt="">
            </h1>
            {% endfor %}

            
            
            {% endblock content %} {% endcomment %}
            {% comment %} <div class="Lunch-item" style="position: relative; top: 18px;"> 
                <img src="Images/burger.webp" >
            </div>
            <div class="details-l">
                <div class="details-sub-l">
                    <h5>Burger</h5>
                    <h5 class="price"> 50LE </h5>
                </div>
                <p> Slices Of Raw Onion, Lettuce, Bacon, Mayonnaise, And Other Ingredients Add Flavor</p>
                <button class="del">Delete </button>
                <button class="edi" > Edit </button>
                <button class="add">Add</button>
            </div>        
            <div class="Lunch-item" style="position: relative; top: 18px;"> 
                <img src="Images/pizza.jpg" >
            </div>        
            <div class="details-l">
                <div class="details-sub-l">
                    <h5>Pizza</h5>
                    <h5 class="price"> 79LE </h5>
                </div>
                <p> Slices of raw onion, lettuce, bacon, mayonnaise, and other ingredients add flavor</p>
                <button class="del">Delete </button>
                <button class="edi" > Edit </button>
                <button class="add">Add</button>
            </div>   
            <div class="Lunch-item" style="position: relative; top: 18px;"> 
                <img src="Images/wings.jpg" >
            </div>             
            <div class="details-l">
                <div class="details-sub-l">
                    <h5>Wings</h5>
                    <h5 class="price"> 40LE</h5>
                </div>
                <p> wings with katshap, mayonnaise and other ingredients</p>
                <button class="del">Delete </button>
                <button class="edi" > Edit </button>
                <button class="add">Add</button>
            </div>                
            <div class="Lunch-item" style="position: relative; top: 18px;"> 
                <img src="Images/salad.jpg" > 
            </div>             
            <div class="details-l">
                <div class="details-sub-l">
                    <h5>Salad</h5>
                    <h5 class="price"> 30LE </h5>
                </div>
                <p> Salad of tomatos, lettuce and cucumber</p>
                <button class="del">Delete </button>
                <button class="edi" > Edit </button>
                <button class="add">Add</button>
            </div>                
            <div class="Lunch-item" style="position: relative; top: 18px;"> 
                <img src="Images/fried chekein.jpg" > 
            </div>             
            <div class="details-l">
                <div class="details-sub-l">
                    <h5>Fried Chicken</h5>
                    <h5 class="price"> 50LE </h5>
                </div>
                <p> fried chicken with </p>
                <button class="del">Delete </button>
                <button class="edi" > Edit </button>
                <button class="add">Add</button>
            </div>                
            <div class="Lunch-item" style="position: relative; top: 18px;"> 
                <img src="Images/meatgril.jpg" > 
            </div>             
            <div class="details-l">
                <div class="details-sub-l">
                    <h5>MeatGril</h5>
                    <h5 class="price"> 60LE </h5>
                </div>
                <p> meatgril with katshap, mayonnaise and other ingredients</p>
                <button class="del">Delete </button>
                <button class="edi" > Edit </button>
                <button class="add">Add</button>
            </div>                
        </div>
    </div> {% endcomment %}
</body>
</html>